/* 
#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(165, 162, 162, 0.2);
}
.site-layout .site-layout-background {
  background: rgba(250, 248, 248, 0.185);
  color:rgb(209, 209, 209);
} */
.ant-table-thead .ant-table-cell {
  background-color: rgba(21, 26, 38, 0.952);
  border-bottom: 1px solid rgba(8, 12, 23, 0.952);
color: #dddd;
}
.ant-table-tbody > tr > td {
  background-color: rgba(8, 12, 23, 0.952);
  /* border-bottom: 1px solid rgba(8, 12, 23, 0.952) !important;  */
  border-bottom: 2px solid rgba(8, 12, 23, 0.952) !important;
  color: #dddd;

}
.ant-table-tbody>tr.ant-table-row:hover>td, .ant-table-tbody>tr>td.ant-table-cell-row-hover :hover{
  background:  black !important;
}

.ant-pagination-item-active a {
  color: #202530 !important;
}
.ant-pagination-item-active {
  
  border-color: #202530 !important;
  ;
}