.App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  background-color: rgba(8, 12, 23, 0.952);
  font-size: 14px;
  color: #dddd;
  font-family: "Silkscreen", cursive;
}
